<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Lesson</title>
</head>

<body>
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Lesson</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'lesson_list' %}">Back to Lesson List</a>
</body>

</html>